<h1>Data Protection Statement</h1>
<p>
  The protection of your personal data is of particular concern to us at StarMoms LP. Therefore, we comply with the legal requirements when we collect and process your personal data. Below you will find extensive information about the scope and purpose of collecting data.</p>
<p>
  Version: May 2018
</p>

<h3>Principle of anonymous data use</h3>
<p>
  In principle, our offers (StarMoms LP 4FitnessGirls in short "StarMoms LP Apps") can be used without providing personal data. The use of individual services on our website can therefore entail divergent regulations which in this case are separately explained below.
</p>
<p>
  When you access our website or Apps, some information, such as IP address, is transferred. You are also providing information about the terminal device used (PC, smartphone, tablet, etc.), the browser used (Internet Explorer, Safari, Firefox, etc.), time of visit to the website, the so-called referrer and quantity of data transferred.
</p>
<p>
  We cannot use these data to identify an individual user. We only use this information to determine how attractive our offer is and to improve its performance or contents, if necessary, and make its design even more interesting for you.
</p>
<p>
  However, we would like to point out that in the case of static IP address personal identification is possible by RIPE query in individual cases, although we do not perform this. Nevertheless, this website is accessible for both static and dynamic IP addresses assigned.
</p>
<h3>Collecting and processing personal data</h3>
<p>
  Personal data are collected by us, only if you supply them to us, for example when you contact us, in particular by registering a StarMoms LP account, placing an order, requesting information or publishing personal data in our StarMoms LP Apps in your profile or in the feed.
</p>
<p>
  We use the personal data provided by you only to the extent that your data are necessary for rendering or processing our services. We save your data for as long as it is necessary to reach the envisaged objectives or until you remove your account or for as long as legal storage periods require the data to be retained. Finally, your data are removed or blocked according to the legal regulations.
</p>
<h3>Registration of StarMoms LP accounts</h3>
<p>
  By means of our login system you can create your StarMoms LP account. In the process we use cookies, small files in your browser to identify you. All data which you store on your account are saved in a data base of StarMoms LP. We require only the following data for registration:
  <ul>
    <li>
      name and surname
    </li>
    <li>
      e-mail address
    </li>
    <li>
      password
    </li>
  </ul>
</p>
<p>
  Moreover, you must acknowledge our data protection regulations and accept our General Terms and Conditions of Business and cancellation conditions. You can also provide us with more data for each App, such as your gender, training location, training area, motivation, fitness level, objective and profile photo which you can change or remove at any time.
</p>
<p>
  Further, we offer you the possibility to create your StarMoms LP account via your Facebook account or link it to your Facebook profile. You can register or log in with us by your Facebook account, if you simply use the Facebook button when registering your StarMoms LP account instead of other possibilities. You will then be directed to the Facebook page (where you must log in or you need to have an account) and you will be told which data on Facebook we need from you, that is, first of all, your public profile information, such as name, surname, gender and e-mail address which you have saved there. This is necessary for identification, so that a secure StarMoms LP account can be created for you. This also helps us show you which of your friends have already joined StarMoms LP. Your Facebook profile and your StarMoms LP account are permanently linked by the e-mail address. We save your e-mail data here and we will contact you at this address with information, if necessary. We also take note of your registration with us via Facebook. As soon as you log in to Facebook, you can also log in with us. Without your consent, we will not forward any of your data to Facebook. Important: We do not find out your Facebook access data at any point and we have no possibility to post anything on your Facebook profile, without it having been approved by you separately. You can find out how Facebook handles privacy settings by consulting the Facebook Data Protection Policy (https://www.facebook.com/policy.php) and Terms and Conditions of Use (https://www.facebook.com/legal/terms); there you will also find the valid provisions for all above-mentioned possibilities of logging in and registering with us. Other Facebook functions, such as the "Like" button, which you will find in the following chapter of this Data Protection Statement have got nothing to do with this login possibility and are displayed separately from your StarMoms LP account.
</p>
<h3>Data collection, processing and use within the framework of StarMoms LP Apps</h3>
<p>
  <strong>General provisions</strong>
</p>
<p>
  To use our StarMoms LP Apps you must have a StarMoms LP account. You have already found out above what data are collected for this purpose (cf. Point 4). To provide you with the best StarMoms LP experience possible, our approach is partly based on publishing specific information of our users, i.e. even your information. We are going to introduce our programme to you in more detail below, so that you can decide for yourself whether and which data you want to publish.
</p>
<p>
  This introduction includes the following information, in particular:
  <ul>
    <li>
      public profile (photo, name, surname, training location, motivation)
    </li>
    <li>
      condition (estimated fitness level, desired objective)
    </li>
    <li>
      training information (period and type of training unit, total number of training sessions, note, photo)
    </li>
    <li>
      food intake (type of nutrition, note, photo)
    </li>
    <li>
      followed by/follows (persons who follow the user, persons followed by the user)
    </li>
  </ul>
</p>
<p>
  You become visible in StarMoms LP Apps with the data in your public profile. This information helps other users to find you in StarMoms LP Apps. At the same time, other users can see your name and surname (if provided), your motivation and your profile photo, and they can recognise you by this information, if necessary.
</p>
<p>
  The StarMoms LP Apps save all your successfully completed training units or the meals you have consumed (excluding StarMoms LP Nutrition), as well as related information, such as self-uploaded photos or notes. Other users can see these data and can consider them as incentive for themselves, leave comments or decide whether they want to follow you.
</p>
<p>
  Moreover, our StarMoms LP Apps also provide the users with the possibility to be followed ("Followed by") to support or encourage them in their training experience, or to compete with one another. For this purpose, users can be searched for by the name registered in the public profile or, after linking of a StarMoms LP account to a Facebook account, via their Friends list. You will be notified about new followers on the website or mobile App by push message.
</p>
<p>
  Thus, some of your information is also available to other users in StarMoms LP Apps, irrespective of whether it is accessed on the website or in the relevant mobile Apps. Our aim is that nobody is left alone with their training. Instead, users’ performance is appreciated and can become an incentive for new members.
</p>
<p>
  If you do not want to make it possible to link your performance to yourself, you are free to refrain from providing any personal data on your profile or training sessions and linking your account to Facebook. Moreover, you should not save any training photos or enter any notes in this case. For this reason, we have ensured that each user can change their personal information which can be viewed by other users and each user is free to use their own name or a fictitious name in their StarMoms LP Apps.
</p>
<h3>StarMoms LP Coach</h3>
<p>
  <strong>Personalised training</strong>
</p>
<p>
  If you opted for StarMoms LP Coach, you will receive suitable training every week, based on your successfully completed training. For this purpose, we analyse the completed training performance (type of training, time required for each set, total time required) using a complex algorithm and we evaluate this in relation to the training performance of other users, so that we can offer perfectly tailored training.
</p>
<p>
  <strong>Limitations</strong>
</p>
<p>
  If you have sustained a serious injury and therefore cannot do any training now, you can suspend your coach for the period of your injury. For this purpose, you can notify our support team about your injury on a voluntary basis. The support team will only process the information, which subsequently becomes anonymous, as the basis for the relevant deferment of your coach or suspension of the coach.
</p>
<h3>Access rights</h3>
<p>
  We need these access options and information to ensure the technical functioning of our App and provision of the services offered with the App, in particular to be able to access your camera or your photos, to determine your running distances and your activity calories or to send you push messages to inform you about new followers or comments. During the installation procedure or before you use the App for the first time, we request permission to access individual functions and information. We only access these functions if you give us your approval. You can manually revoke the access rights in the settings for each operating system. You can find out how this works in the manufacturer instructions for your mobile OS. However, please note that you can use the App only to a limited extent or you cannot use it at all without the relevant approval.
</p>
<p>
  Before you use the App for the first time, we will request the following rights for the purpose described below:
</p>
<p>
  <table>
    <tr><th>Right</th><th>	Purpose</th></tr>
    <tr><td>camera</td><td>	taking photos for profile/feed</td></tr>
    <tr><td>photo library</td><td>	selection of photos for profile/feed</td></tr>
    <tr><td>location tracing</td><td>	calculation of running distance, statistical evaluation</td></tr>
    <tr><td>delivery of push messages</td><td>	receipt of push messages</td></tr>
    <tr><td>mobile data/WLAN</td><td>	use of internet and downloading new contents</td></tr>
  </table>
</p>
<h3>Contact form</h3>
<p>
  You can contact us by e-mail or by an online contact form. Obviously, we will use the personal data provided to us in this way only for the purpose for which you make them available to us when you contact us.
</p>
<p>
  If we request entries in our contact form which are not required for establishing contact, we have marked them as optional (*). We use these data to specify your query and to handle your issues more effectively. Providing these data is expressly voluntary and with your consent. If the data in question refer to communications channels (for example, e-mail address, phone number), you also give consent for us to contact you or resolve your issue by these communications channels.
</p>
<p>
  Obviously, you can revoke your declarations of consent for the future at any time. Please refer to the section mentioned at the end of this statement to find out how to do this.
</p>
<h3>Cookies and tracking pixels</h3>
<p>
  To improve our web service and to make your use as comfortable as possible, we use cookies. Cookies are small text files which are saved on your PC when you visit our website. They facilitate the repeated allocation of your browser. Cookies save information, such as your language settings, duration of the visit to our website or the entries you made there. This means that the required data does not need to be entered again each time the service is used. Moreover, cookies help us to recognise your preferences and adjust our website to your areas of interest.
</p>
<p>
  Most browsers accept cookies automatically. If you want to prevent cookies from being saved, you can select the "Accept no cookies" option in your browser settings. To find out exactly how this works, you can consult the instructions of your browser manufacturer. You can delete the cookies, which have already been saved on your PC at any time. However, we would like to point out that our website service can only be used to a limited extent without cookies.
</p>
<p>
  Moreover, every time our website is loaded, we record how often it is visited and clicked on by using tags on our website, so-called tracking pixels, likewise without any interference and intervention for your PC.
</p>
<h3>Google Analytics</h3>
<p>
  According to the agreement between Google and the Hamburg-based authorised representative for data protection and freedom of information, Google Analytics can be used under certain conditions in compliance with data protection and without leading to any complaints. In particular, we would like to point out that Google Analytics on our website has been expanded by relevant IP masking function to ensure the anonymous collection of IP addresses. Please also pay attention to the following information about the application of Google Analytics:
</p>
<p>
  This website uses Google Analytics, a web analysis service of Google Inc. ("Google"). Google Analytics uses the so-called "cookies". The information about your use of this website generated by cookies is usually forwarded to and saved on a Google server in the USA. However, due to activating IP anonymisation on this website, your IP address is shortened beforehand by Google in member states of the European Union or other states which are parties to the Agreement on the European Economic Area. Only in exceptional cases is the full IP address forwarded to a Google server in the USA, and shortened there. On behalf of the providers of this website, Google uses this information to evaluate your use of the website, compile reports about the website activities and supply other services related to the website use and internet use to the website provider.
</p>
<p>
  The IP address transferred from your browser within the framework of Google Analytics is not combined with other Google data. You can prevent the cookies from being saved by the relevant settings of your browser software. However, we would like to point out that in this case it may not be possible to fully use all functions of this website. Moreover, you can prevent Google from collecting cookie-generated data about your use of the website (including your IP address) and from processing these data, if you download and install the browser plug-in available at the following link (http://tools.google.com/dlpage/gaoptout?hl=en).
</p>
<p>
  You will find more information at https://tools.google.com/dlpage/gaoptout or at https://www.google.de/intl/en/policies/ (general information about Google Analytics and data protection). You can find more information here www.google.com/privacy/privacy-policy.html.
</p>
<h3>DoubleClick by Google</h3>
<p>
  DoubleClick by Google is a service of Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA ("Google"). DoubleClick by Google uses cookies to show you the advertisements which are relevant for you. In the process, a pseudonym identification number (ID) is assigned to your browser to check which advertisements were inserted in your browser and what advertisements were seen. The cookies contain no personal data. The use of DoubleClick cookies only helps Google and our partner websites to place the advertisements based on previous visits to our or other websites on the internet. The information generated by cookies is forwarded by Google to a server in the USA, and saved there for analysis. Google transfers data to third parties only based on legal regulations or within the framework of the commissioned data processing. Google will never combine your data with other data collected by Google.
</p>
<p>
  You can prevent Google from collecting the cookie-generated data about your use of the website and from processing these data, if you download and install the browser plug-in available in the section on DoubleClick deactivation extension: https://www.google.com/settings/ads/onweb/
</p>
<h3>Google Tag Manager</h3>
<p>
  For the sake of transparency, we would like to point out that we use Google Tag Manager. Google Tag Manager itself does not collect any personal data. Tag Manager simplifies our integration and management of tags. Tags are small code components which are used for, among other things, measuring traffic and visitor behaviour, identifying the effects of online advertisement and social channels, setting up remarketing and organising target groups, as well as testing and optimising the websites. We only use Google Analytics, DoubleClick and HubSpot. If you have performed deactivation, Google Tag Manager will take this deactivation into account. You will find more information about Google Tag Manager at: https://www.google.com/intl/de/tagmanager/use-policy.html
</p>
<h3>Google AdWords</h3>
<p>
  To draw attention to our services, we place advertisements in Google AdWords. They are inserted according to search queries in Google. On the page with our contact forms, cookies are used to register how many users found us thanks to one of our advertisements. We can optimise our advertisements thanks to the anonymous statistics acquired in this way. Cookies are saved by Google when the advertisement is clicked on and can be prevented by the settings of your browser. In this case, your visit to our website is not included in the anonymous user statistics. You can find more information in Google website statistics.
</p>
<h3>Instagram</h3>
<p>
  We collect your username and e-mail address when you register via Instagram account. Profile information that you provide for your user profile (e.g., first and last name, picture, phone number) also collected. This information allows to login into app via Instagram. 
</p>
<h3>Google Dynamic Remarketing</h3>
<p>
  We use dynamic remarketing on our website. This is a function of Google AdWords, a service of Google Inc (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA; "Google"). The technology helps us to place automatically generated target-group-oriented advertisements after your visit to our website. The advertisements are focused on the products and services you clicked on or viewed during your last visit on to our website. Google uses cookies to generate interest-based advertisements. If you do not want to receive any user-based advertisements from Google, you can deactivate the placement of advertisements by Google advertisement settings.
</p>
<p>
  You can find more information on how Google uses cookies in the Data Protection Policy of Google (https://www.google.com/intl/en/policies/privacy/).
</p>
<h3>Facebook Custom Audience</h3>
<p>
  Custom Audiences, a product of Facebook (Facebook Custom Audiences 1601 S. California Avenue, Palo Alto, CA, 94304), is also used on the website within the framework of use-based online advertisement. In principle, a non-reversible and not personal hash total (hash value) from your use data is generated in the process, which can be transferred to Facebook for analysis and marketing purposes. A Facebook tracking pixel is also set up on our website to this end. Information about your activities on the website (e.g. surfing behaviour, sub-pages visited, etc.) is collected in the process. Your IP address is saved and used for the geographical adaptation of advertisements. You have the opportunity to object to targeting via the following link: (https://www.facebook.com/ads/website_custom_audiences).
</p>
<p>
  You will find more information about the purpose and scope of data collection and subsequent data processing and use, as well as privacy settings in the Data Protection Policy of Facebook (https://www.facebook.com/policy.php)
</p>
<h3>Social Plugins</h3>
<p>
  This website uses social plug-ins of the following providers
  <ul>
    <li>
      Facebook
    </li>
    <li>
      Instagram
    </li>
    <li>
      VK (Vkontake.ru)
    </li>
  </ul>
</p>
<p>
  These plug-ins usually collect data from you by default and transfer them to the server of the relevant provider.
</p>
<p>
  After activation, the plug-ins also collect personal data, such as your IP address, and send them to the server of the relevant provider where they are saved. Moreover, activated social plug-ins set up a cookie with a unique identifier when you visit the relevant website. Thus, the providers can also create profiles about your use behaviour. This happens, even if you are not a member of the social network of the relevant provider. If you are a member of a social network of the provider and you are logged in to the social network when you visit this website, your data and information about your visit to this website can be linked to your profile on the social network. We have no influence over the exact scope of data collected about you by the relevant provider. You will find more information about the scope, type and purpose of data processing as well as rights and possible settings to protect your privacy in the data protection policies of relevant providers of social networks. These are available at the following addresses:
  <ul>
    <li>
      Facebook: http://www.facebook.com/policy.php
    </li>
    <li>
      Twitter: http://twitter.com/privacy/
    </li>
    <li>
      VK: https://vk.com/terms
    </li>
  </ul>
</p>
<h3>Transfer of data to third parties</h3>
<p>
  In principle, your data are not transferred to third parties, unless we have a legal obligation to do so, or forwarding data is necessary for the performance of the contractual relationship, or you have given us express prior consent to forward your data. External service providers and partner companies, such as online payment providers or the shipping companies commissioned with delivery, receive your data only if it is required for execution of your order. But in these cases the scope of the transferred data is limited to the necessary minimum. If our service providers come into contact with your personal data, we guarantee that they observe the regulations of data protection law in the same way. Please also note the relevant data protection policies of the providers.
</p>
<p>
  The relevant service provider is responsible for the content of third-party services, whereby we perform reasonable checks to find out if the service complies with the statutory requirements.
</p>
<h3>Data security</h3>
<p>
  We have introduced extensive technical and operational safeguards to protect your data against accidental or deliberate manipulations, loss, destruction or access by unauthorised persons. Our security procedures are regularly tested and adjusted to technological progress.
</p>
<h3>Links to other websites</h3>
<p>
  Our websites may contain links to the websites of other providers. We would like to point out that this Data Protection Statement applies only to the website of StarMoms LP. We have no influence on or control over the compliance of other providers with the applicable data protection regulations.
</p>
<h3>Amendments to the Data Protection Statement</h3>
<p>
  We reserve the right to amend or adjust this Data Protection Statement at any time subject to compliance with the applicable data protection regulations.
</p>
<h3>Contact</h3>
<p>
  StarMoms LP
</p>
<p>
  OFFICE 29, CLIFTON HOUSE, FITZWILLIAM STREET LOWER, DUBLIN 2
</p>
<p>
  REPUBLIC OF IRELAND
</p>
<p>
  Email: support@4fitnessgirls.com; 4fitnessgirlsapp@gmail.com
</p>
