@keyframes iphoneAppear {
  0% {
    top: 10px;
    opacity: 0;
  }
  100% {
    top: 80px;
    opacity: 1;
  }
}
@keyframes circlesAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shadowAppear {
  0% {
    opacity: 0;
    transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes titleAppear {
  0% {
    opacity: 0;
    transform: translate(50px);
  }
  100% {
    opacity: 1;
    transform: translate(0px);
  }
}
/* line 1, scss/_menu.scss */
nav {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  box-sizing: border-box;
  padding: 1em 6em;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  justify-content: space-between;
  backdrop-filter: blur(2px);
}
/* line 16, scss/_menu.scss */
nav img.logo {
  width: 120px;
  height: 40px;
}
/* line 20, scss/_menu.scss */
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
/* line 25, scss/_menu.scss */
nav ul li {
  margin: 0 1em;
  text-transform: uppercase;
  cursor: pointer;
}
/* line 30, scss/_menu.scss */
nav ul li a {
  color: black;
  text-decoration: none;
}

/* line 1, scss/_main.scss */
section#main {
  position: relative;
  width: 100%;
  height: 750px;
  background: linear-gradient(to bottom right, #78c9fc, #f8a4fb);
}
/* line 7, scss/_main.scss */
section#main img.girl {
  position: absolute;
  right: 0px;
  z-index: 1;
  height: 750px;
}
/* line 15, scss/_main.scss */
section#main img.logo {
  position: absolute;
  right: 177px;
  bottom: 160px;
  height: 396px;
}
/* line 24, scss/_main.scss */
section#main img.girls-word {
  position: absolute;
  right: 180px;
  bottom: 332px;
  z-index: 1;
  margin-left: 250px;
}
/* line 33, scss/_main.scss */
section#main img.words {
  position: absolute;
  right: 496px;
  bottom: 132px;
  z-index: 1;
  margin-left: -415px;
}

/* line 1, scss/_devices.scss */
section#devices {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4em 0;
  align-items: center;
}
/* line 11, scss/_devices.scss */
section#devices.animate .devices .iphone {
  animation: iphoneAppear .3s 1 linear forwards;
}
/* line 14, scss/_devices.scss */
section#devices.animate .devices .circles {
  animation: circlesAppear .3s 1 linear forwards;
  animation-delay: .3s;
}
/* line 18, scss/_devices.scss */
section#devices.animate .devices .shadow {
  animation: shadowAppear .3s 1 linear forwards;
}
/* line 23, scss/_devices.scss */
section#devices.animate .devices span label {
  animation: titleAppear .3s 1 linear forwards;
  animation-delay: .3s;
}
/* line 27, scss/_devices.scss */
section#devices.animate .devices span div {
  animation: titleAppear .3s 1 linear forwards;
  animation-delay: .5s;
}
/* line 35, scss/_devices.scss */
section#devices .systems {
  display: flex;
  flex-direction: row;
  width: 400px;
  justify-content: space-around;
}
/* line 41, scss/_devices.scss */
section#devices .systems .ios, section#devices .systems .android {
  display: flex;
  flex-direction: row;
  opacity: .5;
  cursor: pointer;
  transition: .3s;
  align-items: center;
}
/* line 50, scss/_devices.scss */
section#devices .systems .ios.active, section#devices .systems .android.active {
  box-shadow: 0px 6px 0 0 #ea60a7;
  opacity: 1;
}
/* line 55, scss/_devices.scss */
section#devices .systems .ios img, section#devices .systems .android img {
  margin: 1em;
  height: 24px;
}
/* line 60, scss/_devices.scss */
section#devices .systems .ios span, section#devices .systems .android span {
  font-weight: bold;
  font-size: 32px;
}
/* line 66, scss/_devices.scss */
section#devices .devices {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 5em 0;
  width: 750px;
  justify-content: space-between;
}
/* line 75, scss/_devices.scss */
section#devices .devices img.disable {
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
}
/* line 81, scss/_devices.scss */
section#devices .devices img.circles {
  position: absolute;
  bottom: 0px;
  bottom: 30px;
  z-index: -1;
  margin-left: -140px;
  transform: scale(0);
}
/* line 89, scss/_devices.scss */
section#devices .devices img.shadow {
  position: absolute;
  bottom: 70px;
  z-index: -1;
  margin-left: -30px;
  opacity: 0;
  transform: scale(1.5);
}
/* line 97, scss/_devices.scss */
section#devices .devices img.iphone {
  position: absolute;
  top: 10px;
  width: 245px;
  opacity: 0;
  transition: .3s;
}
/* line 104, scss/_devices.scss */
section#devices .devices img.samsung {
  width: 245px;
  transition: .3s;
}
/* line 108, scss/_devices.scss */
section#devices .devices span {
  display: flex;
  flex-direction: column;
  width: 350px;
  justify-content: center;
}
/* line 114, scss/_devices.scss */
section#devices .devices span label {
  display: block;
  margin: 1em 0;
  font-weight: bold;
  font-size: 18px;
  opacity: 0;
}
/* line 121, scss/_devices.scss */
section#devices .devices span div {
  opacity: 0;
}

/* line 1, scss/_trainings.scss */
section#trainings {
  display: flex;
  flex-direction: column;
  padding: 2em 0 4em 0;
  align-items: center;
}
/* line 7, scss/_trainings.scss */
section#trainings label.title {
  font-weight: bold;
  font-size: 32px;
}
/* line 11, scss/_trainings.scss */
section#trainings span.text {
  margin-top: 1.5em;
  margin-bottom: 4em;
  width: 755px;
  text-align: center;
}
/* line 17, scss/_trainings.scss */
section#trainings div.wrapper {
  position: relative;
  width: 750px;
}
/* line 20, scss/_trainings.scss */
section#trainings div.wrapper img.device {
  width: 223px;
  height: 475px;
}
/* line 24, scss/_trainings.scss */
section#trainings div.wrapper img.new {
  position: absolute;
  top: 45px;
  left: 60px;
}
/* line 29, scss/_trainings.scss */
section#trainings div.wrapper img.pro {
  position: absolute;
  top: 165px;
  left: 10px;
}
/* line 34, scss/_trainings.scss */
section#trainings div.wrapper img.hard {
  position: absolute;
  top: 255px;
  left: 10px;
}
/* line 39, scss/_trainings.scss */
section#trainings div.wrapper img.pregnant {
  position: absolute;
  top: 355px;
  left: 10px;
}
/* line 44, scss/_trainings.scss */
section#trainings div.wrapper div.strip {
  position: absolute;
  top: 105px;
  left: 380px;
  width: 100px;
  height: 1px;
  border-top: 1px dashed silver;
  transform: rotate(-10deg);
}
/* line 53, scss/_trainings.scss */
section#trainings div.wrapper div.strip:after {
  position: absolute;
  top: -8px;
  right: -10px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 20px;
  background-color: #ea60a7;
  content: '';
}
/* line 65, scss/_trainings.scss */
section#trainings div.wrapper span {
  position: absolute;
  top: 60px;
  right: -150px;
  width: 400px;
  font-size: 15px;
}

/* line 1, scss/_types.scss */
section#types {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 7, scss/_types.scss */
section#types label.title {
  margin-bottom: 2em;
  font-weight: bold;
  font-size: 32px;
}
/* line 12, scss/_types.scss */
section#types div.wrapper {
  display: flex;
  justify-content: center;
}
/* line 17, scss/_types.scss */
section#types div.wrapper .type {
  position: relative;
  margin: 0 1em;
  width: 427px;
}
/* line 22, scss/_types.scss */
section#types div.wrapper .type img {
  width: 427px;
}
/* line 26, scss/_types.scss */
section#types div.wrapper .type span {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;
  padding: 1em 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  font-size: 18px;
}

/* line 1, scss/_target.scss */
section#target {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
  padding: 4em 0 0 0;
  align-items: center;
}
/* line 8, scss/_target.scss */
section#target label.title {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 32px;
}
/* line 13, scss/_target.scss */
section#target span.text {
  width: 440px;
  text-align: center;
}
/* line 17, scss/_target.scss */
section#target div.wrapper {
  position: relative;
  z-index: -1;
  box-sizing: border-box;
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 180px;
  width: 100%;
  background-color: #f7f6f6;
  text-align: center;
}
/* line 29, scss/_target.scss */
section#target div.wrapper img.target {
  width: 250px;
}
/* line 32, scss/_target.scss */
section#target div.wrapper img.device {
  position: absolute;
  bottom: 160px;
  left: 50%;
  margin-left: -480px;
  z-index: -1;
  width: 235px;
  height: 480px;
}

/* line 1, scss/_statistics.scss */
section#statistics {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding: 4em 0 0 0;
  background: linear-gradient(to bottom right, #78c9fc, #f8a4fb);
  align-items: center;
}
/* line 11, scss/_statistics.scss */
section#statistics label.title {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 32px;
}
/* line 16, scss/_statistics.scss */
section#statistics span.text {
  width: 440px;
  text-align: center;
}
/* line 20, scss/_statistics.scss */
section#statistics div.wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  width: 800px;
  justify-content: space-around;
}
/* line 28, scss/_statistics.scss */
section#statistics div.wrapper .iphone {
  position: relative;
}
/* line 30, scss/_statistics.scss */
section#statistics div.wrapper .iphone:before {
  position: absolute;
  top: 100px;
  left: -30px;
  z-index: -1;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
}
/* line 42, scss/_statistics.scss */
section#statistics div.wrapper .iphone img {
  width: 245px;
}
/* line 46, scss/_statistics.scss */
section#statistics div.wrapper .miband {
  position: relative;
}
/* line 48, scss/_statistics.scss */
section#statistics div.wrapper .miband:before {
  position: absolute;
  top: 55px;
  left: -50px;
  z-index: -1;
  display: block;
  width: 210px;
  height: 210px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
}
/* line 60, scss/_statistics.scss */
section#statistics div.wrapper .miband img {
  margin-top: 100px;
  width: 100px;
}
/* line 65, scss/_statistics.scss */
section#statistics div.wrapper .applewatch {
  position: relative;
}
/* line 67, scss/_statistics.scss */
section#statistics div.wrapper .applewatch:before {
  position: absolute;
  top: 55px;
  left: -50px;
  z-index: -1;
  display: block;
  width: 210px;
  height: 210px;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  content: '';
}
/* line 79, scss/_statistics.scss */
section#statistics div.wrapper .applewatch img {
  margin-top: 100px;
  width: 100px;
}
/* line 85, scss/_statistics.scss */
section#statistics .icons {
  margin-top: 3em;
  margin-bottom: 3em;
}

/* line 1, scss/_assistant.scss */
section#assistant {
  display: flex;
  flex-direction: row;
  padding: 6em 0;
  justify-content: center;
}
/* line 8, scss/_assistant.scss */
section#assistant div.messanger {
  padding: 0 3em;
}
/* line 10, scss/_assistant.scss */
section#assistant div.messanger img {
  width: 330px;
}
/* line 15, scss/_assistant.scss */
section#assistant div.text {
  display: flex;
  flex-direction: column;
  padding: 0 3em;
  justify-content: center;
}
/* line 22, scss/_assistant.scss */
section#assistant div.text label.title {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 32px;
}
/* line 27, scss/_assistant.scss */
section#assistant div.text span.text {
  width: 440px;
}

/* line 1, scss/_series.scss */
div#spacing {
  width: 100%;
  height: 350px;
}

/* line 6, scss/_series.scss */
section#series {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12em 0 20em 0;
  background-image: url("../front/img/background.png");
  background-position: center center;
  background-size: cover;
  color: white;
  align-items: center;
}
/* line 18, scss/_series.scss */
section#series label.title {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 32px;
}
/* line 23, scss/_series.scss */
section#series span.text {
  width: 700px;
  text-align: center;
  font-size: 15px;
}
/* line 28, scss/_series.scss */
section#series .girls {
  position: absolute;
  bottom: -100px;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
}
/* line 36, scss/_series.scss */
section#series .girls .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 41, scss/_series.scss */
section#series .girls .item img {
  margin-bottom: 1em;
  width: 200px;
}
/* line 45, scss/_series.scss */
section#series .girls .item label.name {
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 14px;
}
/* line 50, scss/_series.scss */
section#series .girls .item label.description {
  box-sizing: border-box;
  padding: 0 2em;
  text-align: center;
  font-size: 13px;
}

/* line 1, scss/_contact.scss */
section#contact {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5em 0;
  background-color: #f7f6f6;
  align-items: center;
}
/* line 10, scss/_contact.scss */
section#contact div.wrapper {
  position: absolute;
  top: -4em;
  box-sizing: border-box;
  padding: 1em 3em;
  width: 300px;
  background-color: white;
}
/* line 17, scss/_contact.scss */
section#contact div.wrapper img.logo {
  width: 100%;
}
/* line 21, scss/_contact.scss */
section#contact div.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 26, scss/_contact.scss */
section#contact div.form label.title {
  margin-bottom: .5em;
  font-weight: bold;
  font-size: 32px;
}
/* line 31, scss/_contact.scss */
section#contact div.form span.text {
  font-size: 15px;
}
/* line 34, scss/_contact.scss */
section#contact div.form form {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  justify-content: center;
}
/* line 41, scss/_contact.scss */
section#contact div.form form input[type=text] {
  margin: 0 1em;
  padding: 1em;
  width: 360px;
  outline: none;
  border: none;
  background-color: white;
}
/* line 49, scss/_contact.scss */
section#contact div.form form input[type=submit] {
  margin: 0 1em;
  padding: 1em 2em;
  outline: none;
  border: none;
  background-color: #ea60a7;
  color: white;
  text-transform: uppercase;
}

/* line 1, scss/_footer.scss */
section#footer {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 4em 200px;
  background-color: #181818;
  justify-content: space-between;
}
/* line 10, scss/_footer.scss */
section#footer .left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 15, scss/_footer.scss */
section#footer .left .logo {
  width: 130px;
}
/* line 18, scss/_footer.scss */
section#footer .left .social {
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  width: 110px;
  justify-content: space-between;
}
/* line 25, scss/_footer.scss */
section#footer .left .social img {
  padding: 10px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px white;
}
/* line 35, scss/_footer.scss */
section#footer .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}
/* line 41, scss/_footer.scss */
section#footer .right span {
  color: white;
  font-size: 15px;
}
/* line 45, scss/_footer.scss */
section#footer .right a {
  color: #ea60a7;
  text-decoration: none;
  font-size: 15px;
}

/* line 15, scss/styles.scss */
body, html {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-variant: normal;
  font-family: "Open Sans";
}
